export NODE_CONFIG='{
  "statsd": {
    "useMetrics": {{ getenv "ONLYOFFICE_METRICS_ENABLED" "false" | conv.Bool }},
    "host": "{{ getenv "ONLYOFFICE_METRICS_HOST" "localhost" }}",
    "port": {{ getenv "ONLYOFFICE_METRICS_PORT" "8125" }},
    "prefix": "{{ getenv "ONLYOFFICE_METRICS_PREFIX" "ds." }}"
  },
  "services": {
    "CoAuthoring": {
      "sql": {
        "type": "mariadb",
        "dbHost": "{{ getenv "ONLYOFFICE_DB_HOST" "mariadb" }}",
        "dbPort": {{ getenv "ONLYOFFICE_DB_PORT" "3306" }},
        "dbUser": "{{ getenv "ONLYOFFICE_DB_USER" "onlyoffice" }}",
        "dbName": "{{ getenv "ONLYOFFICE_DB_NAME" "onlyoffice" }}",
        "dbPass": "{{ getenv "ONLYOFFICE_DB_PASSWORD" "onlyoffice" }}"
      },
      "redis": {
        "host": "{{ getenv "ONLYOFFICE_REDIS_HOST" "redis" }}",
        "port": {{ getenv "ONLYOFFICE_REDIS_PORT" "6379" }}
      },
      "token": {
        "enable": {
          "browser": {{ getenv "ONLYOFFICE_JWT_ENABLED" "false" | conv.Bool }},
          "request": {
            "inbox": {{ getenv "ONLYOFFICE_JWT_ENABLED" "false" | conv.Bool }},
            "outbox": {{ getenv "ONLYOFFICE_JWT_ENABLED" "false" | conv.Bool }}
          }
        },
        "inbox": {
          "header": "{{ getenv "ONLYOFFICE_JWT_HEADER" "Authorization" }}",
          "inBody": {{ getenv "ONLYOFFICE_JWT_IN_BODY" "false" | conv.Bool }}
        },
        "outbox": {
          "header": "{{ getenv "ONLYOFFICE_JWT_HEADER" "Authorization" }}",
          "inBody": {{ getenv "ONLYOFFICE_JWT_IN_BODY" "false" | conv.Bool }}
        }
      },
      {{- if and (getenv "ONLYOFFICE_WOPI_ENABLED" "false" | conv.Bool) (getenv "ONLYOFFICE_JWT_SECRET") }}
      "secret": {
        "inbox": {
          "string": "{{ getenv "ONLYOFFICE_JWT_SECRET" }}"
        },
        "outbox": {
          "string": "{{ getenv "ONLYOFFICE_JWT_SECRET" }}"
        },
        "session": {
          "string": "{{ getenv "ONLYOFFICE_JWT_SECRET" }}"
        }
      }
      {{- end }}
    }
  },
  {{- if (getenv "ONLYOFFICE_WOPI_ENABLED" "false" | conv.Bool) }}
  "wopi": {
    "enable": true
  },
  {{- end }}
  "rabbitmq": {
    "url": "{{ getenv "ONLYOFFICE_AMQP_PROTO" "amqp" }}://{{ getenv "ONLYOFFICE_AMQP_USER" "guest" }}:{{ getenv "ONLYOFFICE_AMQP_PASSWORD" "guest" }}@{{ getenv "ONLYOFFICE_AMQP_HOST" "rabbitmq" }}:{{ getenv "ONLYOFFICE_AMQP_PORT" "5672" }}"
  },
  "FileConverter": {
    "converter": {
      "maxprocesscount": 0.001
    }
  }
}'
